<div class="message">
    <h3>This is <span>not</span> real Facebook</h3>
    <p>Do not share your personal stuff on this app.
        <br><br>
    Developed by <a target="_blank" href="https://www.github.com/temalcode">@temalcode</a>
    </p>
</div>