<div class="main__left">
    <div class="left__item">
        <img src=".\assets\blank-profile-picture-g7898add45_1280.png" alt="" width="35px" class="profile-pic">               
        <span><%= user.firstName + " " + user.lastName %></span>
    </div>
    <div class="left__item">
        <img src="./assets/findfriends.png" alt="">
        <span>Find Friends</span>
    </div>
    <div class="left__item">
        <img src="./assets/groups.png" alt="">
        <span>Groups</span>
    </div>
    <div class="left__item">
        <img src="./assets/watch.png" alt="">
        <span>Watch</span>
    </div>
    <div class="left__item">
        <img src="./assets/marketplace.png" alt="">
        <span>Marketplace<span>
    </div>
    <div class="left__item">
        <img src="./assets/memories.png" alt="">
        <span>Memories<span>
    </div>
    <div class="left__item">
        <img src="./assets/ad.png" alt="">
        <span>Ad Centre<span>
    </div>
    <div class="left__item">
        <img src="./assets/ads.png" alt="">
        <span>Ads Manager<span>
    </div>
    <div class="left__item">
        <img src="./assets/blood.png" alt="">
        <span>Blood Donations<span>
    </div>
    <div class="left__item">
        <img src="./assets/climate.png" alt="">
        <span>Climate Science Centre<span>
    </div>
    <div class="left__item">
        <img src="./assets/help.png" alt="">
        <span>Community Help<span>
    </div>
    <div class="left__item">
        <img src="./assets/events.png" alt="">
        <span>Events<span>
    </div>
</div>