
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background: #f0f2f5;
}

.wrapper{
  width: 980px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.left{
  width: 50%;
  margin-top: 10rem;
}

.logo{
  position: relative;
  right: 15px;
}

.para{
  font-size: 28px;
}

.right{
  margin-top: 8rem;
  text-align: center;
}

.login{
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  width: 396px;
  text-align: center;
  margin-bottom: 2rem;
}

input{
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #dddfe2;
}

input:focus{
  border: 1px solid rgb(22, 143, 255);
  box-shadow: 0.2px 0.2px 3px rgb(0, 132, 255);
  outline: none;
}

.login-btn{
  font-weight: bolder;
  background: #1877f2;
  color: white;
  font-size: 1.2rem;
  padding: 0.8rem 0.5rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.forgot{
  text-decoration: none;
  font-size: 0.8rem;
  color: #1877f2;
}

.line{
  margin: 1.5rem 0;
  height: 0.5px;
  background-color: rgba(128, 128, 128, 0.404);
}

.create-btn{
  font-weight: bolder;
  background: #1877f2;
  color: white;
  font-size: 1rem;
  padding: 0.8rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-bottom: 0.7rem;
  background: #42b72a;
}

.page{
  font-size: 14px;
}

.signup{
  display: none;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.signup input{
  background-color: rgba(128, 128, 128, 0.062);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.close-btn{
  cursor: pointer;
}

.signup__line{
  height: 0.5px;
  background-color: rgba(128, 128, 128, 0.404);
  margin-bottom: 1rem;
}

.signup__names{
  display: flex;
  gap: 1rem;
}

.signup__name{
  width: 50%;
}

.signup__text{
  color: gray;
  font-size: 0.75rem;
}

.signup__submit{
  background: #34a01e !important;
  color: white;
  cursor: pointer;
  width: 50%;
  font-weight: bolder;
  display: block;
  margin: auto;
  margin-top: 1rem;
}

.popup{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242526;
  border-radius: 5px;
  color: #E4E6EB;
  padding: 1rem;
  width: 400px;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.popup__para{
  margin-bottom: 0.1rem;
}

.popup span{
  text-decoration: underline;
}

.popup a{
  color: #E4E6EB;
}

.popup button{
  color: #E4E6EB;
  background-color: #1877f2;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}